<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="smallscreen.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@300&family=Noto+Serif&display=swap" rel="stylesheet">
    
</head>
<body>


    <div class="flex">

    <header>
        <div id="title-container">
            <h1>Hello!
                I am<br>A<span id="text-span">
                </span>  
            </h1>
        </div>
        <div id="info-corner">
            <img id="logo" class="logo-default" src="images/newlogo.png">
            <div id="contact-tab">
                  <a href="#"><img id="github" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733609.svg"                alt="github"></a>
                  <a href="#"><img img id="linkedin" class="icon"     src="https://www.flaticon.com/svg/static/icons/svg/49/49408.svg" alt="linkedin icon"></a>
                  <a href="#"><img img id="codepen" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/2111/2111341.svg" alt="codepen icon"></a>
                  <a href="#"><img img id="twitter" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733635.svg" alt="twitter icon"></a>
              </div>
      </div>
        <nav>
            <ul style="list-style: none;">
                <li id="project-tab" class="nav-items">Projects</li>
                <li id="resume-tab" class="nav-items">Resume</li>
                <li id="blog-tab" class="nav-items">Blog</li>
            </ul>
        </nav>
    </header>

    <div id="about">
        <h3>About Alyssa--</h3>
        <p>Alyssa Hardwick is an aspiring web developer/designer, 
            with interest in digital and multi-media arts. 
            After graduating with a dual BA in Studio Art and 
            Art History from the University of Colorado Boulder, 
            she realized the creative process of developing apps 
            and websites. With her artistic background, 
            there is an authenticity in her frontend development style. 
            Her wittyness proves that she worked as a full-time 
            bartender for almost a decade. She loves to hustle, 
            but on a relaxing day, Alyssa enjoys spending time in 
            her garden, walking in Tower Grove Park with her Shiba 
            Inu Kiki, or eating a delicious meal! She is an easy going type of gal and loved by most. Bright colors, contrasting elements, and pop surrealism is her jam!</p>
    </div>

        <div class="project-container">
            <a href="http://akpdesigns.tech/Weather-app/index.html">Weather App
            <div id="project1" class="project">
                <object type="text/html" data="http://akpdesigns.tech/Weather-app/index.html">
                </object>
                
            </div>
        </a>
            <a href="http://akpdesigns.tech/Esme-spirits/index.html">Product Design
            <div id="project2" class="project">
                <object type="text/html" data="http://akpdesigns.tech/Esme-spirits/index.html">
                </object>
            </div>
        </a>
            <div id="project3" class="project">
                <object type="text/html" data="http://akpdesigns.tech/Weather-app/index.html">
                </object>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="app.js"></script>
</body>
</html>