<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@300&family=Noto+Serif&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="flex">
    <header>
        <div id="title-container">
            <h1>Hello!
                I am<br>A<span id="text-span">
                </span>  
            </h1>
        </div>
        <div id="info-corner">
            <img id="logo" class="logo-default" src="images/newlogo.png">
            <div id="contact-tab">
                  <a href="#"><img id="github" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733609.svg"                alt="github"></a>
                  <a href="#"><img img id="linkedin" class="icon"     src="https://www.flaticon.com/svg/static/icons/svg/49/49408.svg" alt="linkedin icon"></a>
                  <a href="#"><img img id="codepen" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/2111/2111341.svg" alt="codepen icon"></a>
                  <a href="#"><img img id="twitter" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733635.svg" alt="twitter icon"></a>
              </div>
      </div>
        <nav>
            <ul style="list-style: none;">
                <li id="project-tab" class="nav-items">Projects</li>
                <li id="resume-tab" class="nav-items">Resume</li>
                <li id="blog-tab" class="nav-items">Blog</li>
            </ul>
        </nav>
    </header>
    <div id="about">
        <h3>About Alyssa--</h3>
        <p>Alyssa Hardwick is an aspiring web developer/designer, 
            with interest in digital and multi-media arts. 
            After graduating with a dual BA in Studio Art and 
            Art History from the University of Colorado Boulder, 
            she realized the creative process of developing apps 
            and websites. With her artistic background, 
            there is an authenticity in her frontend development style. 
            Her wittyness proves that she worked as a full-time 
            bartender for almost a decade. She loves to hustle, 
            but on a relaxing day, Alyssa enjoys spending time in 
            her garden, walking in Tower Grove Park with her Shiba 
            Inu Kiki, or eating a delicious meal! She is an easy going type of gal and loved by most. Bright colors, contrasting elements, and pop surrealism is her jam!</p>
    </div>
    <!--
    <div id="timeline">
        <div id="tl-title">
            <h2>My Journey</h2>
            <h6>
                <span>Random Quote Here</span>
            </h6> 
        </div>
        <div class="line">
            <ul>
                <div class="timeline-element">
                <img class="time-img" src="images\baboon.jpg">
                    <li class="timeline-li">
                    <h2 class="timeline_content-title">1993</h2>
                    <p class="timeline_content-desc">Alyssa was born in Riverside, CA. She moved with her family to San Diego for a couple of 
                        years and they later moved to Denver, CO. Alyssa believes that her creativity pulls from her roots in California, 
                        and she still dreams about going back there someday.
                    </p>
                    <span>
                        She took drawing classes at a young age at the San Diego Zoo, 
                        this pastel drawing of a baboon won 1st place in a school art competition.
                    </span>
                    </li>
                </div>
                <div class="timeline-element">
                    <img class="time-img" src="images/zebra.jpg">
                <li class="timeline-li">
                    
                    <h2 class="timeline_content-title">2003-2011</h2>
                    <p>Alyssa was diagnosed with Ewing’s Sarcoma at 10 years old, 
                        with a relapse at 13 years. She doesn’t speak much of this past life because she was so young during the hardship, 
                        but most would say she is inspiring. She spent her early high school years in the hospital, but still practiced her 
                        art by taking up painting.
                    </p>
                    <span>
                        One of her early paintings that is experimenting with contrast.
                    </span>
                </li>
            </div>
            <div class="timeline-element">
                <img class="time-img" src="images/finalpainting.jpg">
                <li class="timeline-li">
                    
                    <h2 class="timeline_content-title">2011-2016</h2>
                    <p>Alyssa started her undergrad at University of Colorado Boulder with the mindset of wanting to be an Oncologist. 
                        She really struggled the first two years of college and realized that pre-med was not for her, 
                        she decided to go with her passion for art despite what everyone said about it. </p>
                </li>
            </div>
            <div class="timeline-element">
                <img class="time-img" src="images/Minimal-can.png">
                <li class="timeline-li">
                    
                    <h2 class="timeline_content-title">2017-2018</h2                                                              >
                    <p>Experimenting after college, bouncing around doing bartender things, from restaurant to restaurant.</p>
                </li>
            </div>
            <div class="timeline-element">
                <img class="time-img" src="images/Minimal-can.png">
                <li class="timeline-li">
                    
                    <h2 class="timeline_content-title">2019-present</h2>
                    <p>Eureka! Fontend Development is dope! Took a course at Launch Code, began a mentorship with WomenWhoCode, 
                        and really started honing in on my tech skills. 
                        Check out my resume for updated info on my journey and skills! </p>
                </li>
            </div>
            </ul>
        </div>
        -->

        <div class="project-container">
            <a href="http://akpdesigns.tech/Weather-app/index.html">Weather App
            <div id="project1" class="project">
                <object type="text/html" data="http://akpdesigns.tech/Weather-app/index.html">
                </object>
                
            </div>
        </a>
            <a href="http://akpdesigns.tech/Esme-spirits/index.html">Product Design
            <div id="project2" class="project">
                <object type="text/html" data="http://akpdesigns.tech/Esme-spirits/index.html">
                </object>
            </div>
        </a>
            <div id="project3" class="project">
                <object type="text/html" data="http://akpdesigns.tech/Weather-app/index.html">
                </object>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="app.js"></script>
</body>
</html>