<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@300&family=Noto+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex">
    <header>
        <div id="title-container">
            <h1>Hello! I am Alyssa
                <br>I am a _
            </h1>
        </div>
        <div id="info-corner">
        <img id="logo" src="images/newlogo.png">
            <div id="contact-tab">
                <a href="#"><img id="github" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733609.svg" alt="github"></a>
                <a href="#"><img img id="linkedin" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/49/49408.svg" alt="linkedin"></a>
                <a href="#"><img img id="codepen" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/2111/2111341.svg" alt="codepen"></a>
                <a href="#"><img img id="twitter" class="icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733635.svg" alt="twitter"></a>
            </div>
        </div>
        <nav>
            <ul>
                <li>Projects</li>
                <li>Resume</li>
                <li>Blog</li>
            </ul>
        </nav>
    </header>
    <div id="about">
        <h3>About me--</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque tempore asperiores voluptatem consequatur, 
            error doloremque iure natus laborum ratione qui quod maiores, labore quo voluptate et illo deleniti vitae ipsam?</p>
    </div>
    <div id="timeline">
        <div class="line">
            <ul>
                <li class="timeline-element">
                    <img class="time-img" src="images\baboon.jpg">
                    <p>A Pastel Drawing I did in High School that won 1st place</p>
                </li>
                
                <li class="timeline-element">
                    <img class="time-img" src="images/zebra.jpg">
                    <p>One of my first paintings</p>
                </li>
                <li class="timeline-element">
                    <img class="time-img" src="images/finalpainting.jpg">
                    <p>One of the painting for my thesis at CU Boulder</p>
                </li>
                <li class="timeline-element">
                    <img class="time-img" src="images/Minimal-can.png">
                    <p>Experimenting after college</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="app.js"></script>
</html>