* {
    margin: 0;
    padding: 0;
}

/*  HEAD -- font-family: 'Anton', sans-serif;
    SUBHEAD -- font-family: 'Noto Sans KR', sans-serif;
    P -- font-family: 'Noto Serif', serif;*/

body {
    font-family: 'Noto Serif', serif;
}

.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: row;
}

.logo-default{
    height: 100px;
    width: auto;
    padding-top: 20px;  
    position: sticky;
  }
  
#info-corner {
    margin-left: auto;
}

.icon {
    height: 10px;
    width: auto;
    position: absolute;
    top: 40px;
    right: 88px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 144px;
    line-height: 1;
    margin-left: 50px;
    margin-top: 10px;
}

#text-span {
    color: yellow;
    padding: 0;
}
nav {
    align-self: flex-end;
    text-align: end;
}

.nav-items {
   padding-top: .5rem; 
   font-family: 'Anton', sans-serif;
   
}

#project-tab {
    background-color: cyan;
    width: 5rem;
}

#resume-tab {
    background-color: magenta;
}

#blog-tab {
    background-color: yellow;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
}

#about {
    padding: 50px;
}

/*
#timeline {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}



#tl-title{
    margin-top: 5rem;
    margin-bottom: 2rem;
    line-height: 3;
    text-align: inherit;
}

.line {    
    border-left: double;
    border-left-width: 5px;
    margin-left: 50px;
}
.timeline-element {
    position: relative;
}
.timeline-li{
    border-radius: 20px;
    max-width: 50rem;
    height: auto;
    display: flex;
    position: relative;
    background-color: silver;
}


.time-img {
    max-height: 20rem;
    width: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.timeline_content-title {
    font-size: 4vh;
}

.timeline_content-desc {
    max-width: 300px;
    text-align: left;
    padding: 1rem;
    font-size: 2vh;
    align-self: center;
}
*/

.project-container{
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
    justify-content: space-evenly;
}

.project{
    overflow: hidden;
}

object{
    width: 20rem;
    height: 25rem;
    overflow: hidden;

}

a{
    text-decoration: none;
    color: black;
    text-align: center;
}
